.sideNavbarClass {
    margin-top: 100px;
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 300px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;

    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /*padding-top: 50px;*/
    padding-bottom: 200px;

    z-index: 10;

}


.main {
    margin-left: 300px;
    margin-top: 100px;
    padding: 50px 20px 100px 20px;
}

.mainAlt {
    margin-top: 100px;
}

@media (max-width: 1000px) {
    .sideNavbarClass {
        display: none;
    }

    .sideNavbarOpen {
        display: block;
    }

    
    .main {
        margin-left: 0px;
    }
}